@charset "utf-8";
/* CSS Document */
body,nav,dl,dd,p,h1,h2,h3,h4,ul,ol,li,input,button,textarea,footer,p{margin: 0;padding: 0}
body{font: 'Microsoft Yahei','Simsun';color: #fff;background: #495a6f;}
ul,ol{list-style: none;}
a{text-decoration: none;color: #1a1a1a;display: block;}
img{vertical-align: middle;border: none;}
button,input{vertical-align: middle;outline: none;}
textarea{resize: none;}
mark{background: none;color:#cb0101;}
table{border-collapse: collapse;border-spacing: 0}
.content{width:1200px;margin:0 auto;}
.contentmin{min-width: 1200px;}
.clear{height: auto;overflow: hidden;}
.hover{color: #fcd135;}
.navbar{background: rgba(0,0,0,0.7);text-align: center;position: fixed;width: 100%;z-index: 999;-webkit-transition: .5s;-o-transition: .5s;transition: .5s;}
.navbar a{color: #fff;line-height: 20px;font-size: 14px;}
.navbar ul{margin: 0 auto;width: 624px;}
.navbar li{float: left;padding:24px 50px;}
.navbar span{display: block;}
.navbar a:hover{color: #fcd135;}
.navbar.active{background: rgb(0, 0, 0);transition: background 1s;-moz-transition: background 1s;-webkit-transition: background 1s;-o-transition:background 1s;}
.banner{background: url(../images/banner.jpg)no-repeat center center;width: auto;height: 715px;box-shadow: 0 0 10px #16273b;}
.banner .content{position: relative;text-align: center;height: 715px;}
.banner article{color: #fff;font-size: 38px;line-height: 60px;width: 770px;position: absolute;left:200px;top:210px;letter-spacing: 2px;}
.banner p{border: solid 1px #fff;line-height: 100px;margin-bottom: 20px;}
.banner img{padding-top: 160px;transition: all .3s ease-out;}
.banner img:hover{padding-top: 200px;}
.aboutme{padding: 60px 0 60px 0;margin: 0 auto;width: 888px;height: 406px;}
.aboutme article{float: left;}
.aboutme article:first-child{box-shadow: 0 0 16px #16273b;}
.aboutme article:last-child{padding-top: 30px;padding-left: 100px;}
.aboutme ul{float: left;padding-bottom: 16px;}
.aboutme ul:first-child{padding-right: 50px;}
.aboutme h3{font-weight: normal;padding-bottom: 24px;font-size: 22px;letter-spacing: 2px;}
.aboutme span{font-size: 22px;letter-spacing: 2px;}
.aboutme li{line-height: 36px;letter-spacing: 2px;}
.aboutme p{line-height: 30px;font-size: 14px;letter-spacing: 2px;}
.ditu{box-shadow: 0 0 10px #16273b;width: 100%;}
.wenan{text-align: center;line-height: 30px;letter-spacing: 1px;padding: 40px 0;background: url(../images/1.png)no-repeat top 55px center;}
.wenan h3{font-weight: normal;padding-bottom: 40px;}
.wenan p{padding-bottom: 20px;}
.zuoping{background: url(../images/1.png)no-repeat top 42px center;text-align: center;}
.zuoping h3{font-weight: normal;padding:30px 0 50px 0;}



.footer{background:#2e3641;text-align: center;margin-top: 100px;}
.footer section{background: url(../images/kuang.png) no-repeat center center;width:240px;height:240px;text-align: center;margin: 0 auto;padding:36px 0 40px 0;}
.footer h3{font-size:24px;line-height: 32px;}
.footer article span{display:block;color:#e46948}
.footer article{padding-top:26px;}
.footer p{line-height:26px;padding-bottom:10px;font-size: 14px;letter-spacing: 1px;}
.footer section+p{color:#fff;font-size:10px;background:#2f2f2f;padding:5px 0;}